*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: url(modal.jpg) no-repeat center center/cover ;
 
}


.material-symbols-outlined {
  font-weight: 600;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  
}
.massage {
  width: 220px ;
  height: 150px;
  background: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  position: relative;
  padding: 10px;
  text-align: center;
  top: -50rem;
  opacity: 0;
  transition: .6s;
  box-shadow: 0 0 10px  black;
  
  
}

span{
  cursor: pointer;
  transition: .5s;

}
span:hover{
  color:red
}
p {
  font-weight: 500;
  font-size: 2rem;
}

h2{margin-top: 10px;
  font-size: 3rem;
}
button{
  width: 230px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  background:red;
  letter-spacing: .1rem;
  position: absolute;
  bottom: 8rem;
  left: 4rem;
  box-shadow: 1px 0 4px black;
  cursor: pointer;
  transition: .8s;
}

button:hover{
  transform: scale(1.1);
  background: #fff;
  color: red;
  font-weight: 600;
  box-shadow: 2px 2px 4px red, -2px -2px 4px  red;
  border: 1px solid red;
}



.now{
    opacity:1;
    transform: translateY(50rem);
}